@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  /* Dimensions  */
  --sticky-navbar-height: 80px;
  --section-height: calc(100vh - var(--sticky-navbar-height));

  /* Box Shadow */
  --section-box-shadow:
    -2px 1px 6px 0px rgba(0, 0, 0, 0.1), 2px -1px 6px 0px rgba(0, 0, 0, 0.1);
}

@theme inline {
  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html {
  min-width: 360px;
}

.pin-spacer {
  /*width: 100% !important;*/
  /*margin-inline: auto !important;*/
  /*padding: 0 !important;*/
}

/* Blog styles */
.prose .anchor {
  @apply invisible absolute no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline decoration-neutral-400 decoration-[0.1em] underline-offset-2 transition-all dark:decoration-neutral-600;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply overflow-x-auto rounded-lg border border-neutral-200 bg-neutral-50 px-3 py-2 text-sm dark:border-neutral-900 dark:bg-neutral-800;
}

.prose code {
  @apply rounded-lg px-1 py-0.5;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
  @apply mt-6 mb-2 text-4xl font-medium tracking-tight;
}

.prose h2 {
  @apply mt-6 mb-2 text-xl font-medium tracking-tight;
}

.prose h3 {
  @apply mt-6 mb-2 text-xl font-medium tracking-tight;
}

.prose h4 {
  @apply mt-6 mb-2 text-lg font-medium tracking-tight;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

/* Loader styles */
/* HTML: <div class="loader"></div> */

#loader {
  width: 40px;
  height: 60px;
  position: relative;
}
#loader::before,
#loader::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #5a4b8e;
  clip-path: polygon(0 0, 100% 0, 100% 67%, 50% 67%, 50% 34%, 0 34%);
  animation: sp7 2s infinite;
}
#loader::after {
  --s: -1, -1;
}
@keyframes sp7 {
  0%,
  10% {
    transform: scale(var(--s, 1)) translate(0, 0) rotate(0deg);
  }
  33% {
    transform: scale(var(--s, 1)) translate(0, -20px) rotate(0deg);
  }
  66% {
    transform: scale(var(--s, 1)) translate(10px, -20px) rotate(-90deg);
  }
  90%,
  100% {
    transform: scale(var(--s, 1)) translate(10px, -10px) rotate(-90deg);
  }
}
